body{
    display: flex;
    justify-content: center;
}
#score{
    width: 288px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#text1{
    position: absolute;
    width: 288px;
    height: 512px;
    background-color: aqua;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#screen{
    position: relative;
    
}
#canvas{
   border-radius: 15px;

}
